# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env
.env.*
!.env.example
temp_exports/
accounts.json
server.log
backend/db/*.sqlite
backend/db/*.sqlite-shm
backend/db/*.sqlite-wal
backend/db/database.sqlite
persistent_media/
test_download.zip
test_stream/
test_zip/
